---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/NewHeader.astro';
import Footer from '../../components/Footer.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<header class="sticky top-12 h-[100px] w-1/4 ml-32 mt-16">
			<Header />
		</header>
		<main>
			<article class="flex flex-col items-center">
				<div class="max-w-lg ml-32 prose">
					<h1>Articles</h1>
					<section class="border-accent border-y py-4">
						<ul>
							{
								posts.map((post) => (
									<li>
										<a href={`/blog/${post.slug}/`}>
											<h4>{post.data.title}</h4>
											<p class="text-gray-light">
												<FormattedDate date={post.data.pubDate} />
											</p>
										</a>
									</li>
								))
							}
						</ul>
					</section>
				</div>
			</article>
		</main>
		<footer class="flex flex-col items-center">
			<Footer />
		</footer>
	</body>
</html>
